openapi: 3.0.1
info:
  title: Biography Services
  description: |
    # Overview

     The Global SKU (Grizzly) Enterprise Services team will be responsible for developing and supporting a suite of tools and services to support the entire range of Global SKU (Grizzly) hardware products.

    # Basepath URL

    **Dev** - ```https://api-stg-use1.trimblepaas.com/gsku-dev-services-v1.0/biography/```


    **Prod** - ```https://api-stg-use1.trimblepaas.com/gsku-dev-services-v1.0/biography/```

    # Authorization

    The service will be secured through API Auth Server. Thus requiring an
    'Authorization' header in all requests. The value of the header can be picked up from Trimble APICloud which will be Bearer token. You have to send a valid
    ```Access Token``` in the Authorization header, using the ```Bearer```
    authentication scheme.

    Format: ```Bearer <access_token>```
  contact:
    name: GLOBAL-SKU
    url: https://sites.google.com/trimble.com/ttm/teams/global-sku
    email: globalskuserviceschennai-ug@trimble.com
  version: v0.0.1
  x-logo:
    altText: Trimble GSKU logo
    url: https://tools.dev.transportation.trimble.com/static/media/Trimble_nav_banner.1e387b5f.png
servers:
- url: https://api-stg-use1.trimblepaas.com/gsku-dev-services-v1.0/biography/
  description: Dev environment
tags:
- name: Devices
  description: API's related to Devices
paths:
  /devices/autocomplete:
    get:
      tags:
      - Devices
      summary: Get Autocomplete Suggesstions
      description: View top 10 dsn suggestions based on given input
      operationId: getAutocompleteSuggestions
      parameters:
      - name: dsn
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieved device list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        "404":
          description: The resource you were trying to reach is not found
        "403":
          description: Accessing the resource you were trying to reach is forbidden
        "401":
          description: You are not authorized to view the resource
  /devices:
    get:
      tags:
      - Devices
      operationId: getDevices
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeviceResponse'
  /devices/{dsn}:
    get:
      tags:
      - Devices
      summary: Get Devices Events
      description: Get device Events for given DSN
      operationId: getDeviceEvents
      parameters:
      - name: dsn
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully retrieved device list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceEventsResponse'
        "404":
          description: The resource you were trying to reach is not found
        "403":
          description: Accessing the resource you were trying to reach is forbidden
        "401":
          description: You are not authorized to view the resource
components:
  schemas:
    DeviceResponse:
      type: object
      properties:
        devices:
          type: array
          description: List of devices
          items:
            type: string
            description: List of devices
    DeviceEvents:
      type: object
      properties:
        manufacturer:
          type: string
          description: The manufacturer of the device
        model:
          type: string
          description: The model of the device
        deviceSerialNumber:
          type: string
          description: Device Serial Number
        torId:
          type: string
          description: The torId of device
        createdTimestamp:
          type: string
          description: Created timestamp of the record
        eventTimestamp:
          type: string
          description: Timestamp when event occurred
        generatedBy:
          type: string
          description: Who generated the event
        eventType:
          type: string
          description: Type of event
        eventDetails:
          type: object
          additionalProperties:
            type: object
            description: The details of events as JSON
          description: The details of events as JSON
    DeviceEventsResponse:
      type: object
      properties:
        metaData:
          type: object
          additionalProperties:
            type: object
            description: Metadata object with total count of devices
          description: Metadata object with total count of devices
        eventDetails:
          type: array
          items:
            $ref: '#/components/schemas/DeviceEvents'
  securitySchemes:
    Bearer-key:
      type: http
      scheme: bearer
      bearerFormat: JWT
